body {
    margin: 20px;
    background-color: #fff3fc; 
    color: #39282f; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
h1 {
    color: #754e72; 
}
table, th, td {
  border: 1px solid;
}
tbody tr:nth-child(even) { background-color: #fcdcdc; }
tbody th{
    background-color: #754e72;
    color: #fcdcdc;
}
thead th { width: 25%; }